.dollar-header {
  background: #000000;
  background-color: #000000;
  margin-top: 20px !important;
  .logo {
    .logo-img {
      width: 270px !important;
    }
  }
  .nav {
    & > tbody > tr > th {
      padding: 0 !important;
    }
    .nav-links {
      p {
        margin: 0;
      }
      a {
        font-family: "Montserrat", Arial, Helvetica, sans-serif;
        color: #ffffff;
        font-weight: 800;
        text-decoration: none;
      }
    }
  }
}

.main-deals {
  & > tbody > tr > th {
    padding: 0 !important;
  }
  .five-off {
    & > tbody > tr > th {
      padding: 0 !important;
    }
    .five-off-img {
      width: 100%;
    }
  }
  .deal-items {
    .columns {
      padding: 0 !important;
    }
    .top {
      & > tbody > tr > th {
        padding: 0 !important;
      }
    }
    .bottom {
      & > tbody > tr > th {
        padding: 0 !important;
      }
    }
    img {
      width: 100% !important;
      height: auto !important;
    }
  }
  .dg-pick-up {
    img {
      width: 100%;
    }
  }
}

.dollar-footer {
  & > tbody > tr > th {
    padding: 10px 0 !important;
  }
  .social-area {
    margin-top: 10px !important;
    & > tbody > tr {
      text-align: center;
    }
    & > tbody > tr > th {
      padding: 0 !important;
    }
    .icon-box {
      margin: 0 7px !important;
    }
    .icon {
      max-width: 50px !important;
      width: 100% !important;
      padding: 10px 0 !important;
    }
  }
  .help-links {
    margin-top: 20px;
    p {
      text-align: center;
    }
  }
  .footer-text-box {
    .text {
      p {
        font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
        font-size: 10px;
        font-weight: 400;
        line-height: 15px;
      }

      img {
        width: 150px;
      }
    }
  }
}
