.header {
  background: #000000;
  background-color: #000000;
  margin-top: 20px !important;
  .logo {
    .logo-img {
      width: 270px !important;
    }
  }
  .nav {
    & > tbody > tr > th {
      padding: 0 !important;
    }
    .nav-links {
      p {
        margin: 0;
      }
      a {
        font-family: "Montserrat", Arial, Helvetica, sans-serif;
        color: #ffffff;
        font-weight: 800;
        text-decoration: none;
      }
    }
  }
}

.main-deals {
  & > tbody > tr > th {
    padding: 0 !important;
  }
  .five-off {
    & > tbody > tr > th {
      padding: 0 !important;
    }
    .five-off-img {
      width: 100%;
    }
  }
  .deal-items {
    .columns {
      padding: 0 !important;
    }
    .top {
      & > tbody > tr > th {
        padding: 0 !important;
      }
    }
    .bottom {
      & > tbody > tr > th {
        padding: 0 !important;
      }
    }
    img {
      width: 100% !important;
      height: auto !important;
    }
  }
  .dg-pick-up {
    img {
      width: 100%;
    }
  }
}

.footer {
  .social-area {
    & > tbody > tr > th {
      padding: 0 !important;
    }
    .social-links {
      & > tbody > tr {
        text-align: center !important;
      }
      .icon {
        max-width: 60px !important;
        width: 100% !important;
      }
    }
  }
}
