html,
body,
.body {
  background: #ffffff !important;
  background-color: #ffffff !important;
}

.header {
  background: #ffffff;
  background-color: #ffffff;
  & > tbody > tr > th {
    padding: 5px !important;
  }
  .header-top {
    & > tbody > tr > th {
      padding: 0 0 20px !important;
    }
    .logo {
      width: 100%;
    }
  }
  .header-bottom {
    & > tbody > tr > th {
      padding: 0 0 10px !important;
    }
    .seventy-off-long-img {
      width: 100%;
    }
  }
}

.promotional {
  & > tbody > tr > th {
    padding: 0 5px 0 !important;
  }
  .hero {
    & > tbody > tr > th {
      padding-bottom: 0 !important;
    }
    .hero-img {
      width: 100%;
    }
  }
  .three-sm-boxs {
    .columns {
      padding: 0;
    }
    img {
      width: 100%;
    }
  }
  .two-long-one-big {
    .columns {
      padding: 0;
    }
    .top {
      img {
        width: 100%;
      }
    }
    .bottom {
      img {
        width: 100%;
      }
    }
  }
  .shop-now {
    & > tbody > tr > th {
      padding-bottom: 0 !important;
    }
    .shop-now-img {
      width: 100%;
    }
  }
  .bogo-dollar {
    & > tbody > tr > th {
      padding-bottom: 10px !important;
    }
    .bogo-dollar-img {
      width: 100%;
    }
  }
  .seventy-off-md {
    & > tbody > tr > th {
      padding-bottom: 20px !important;
    }
    .seventy-off-md-img {
      width: 100%;
    }
  }
}

.footer {
  & > tbody > tr > th {
    padding: 10px 5px 0 !important;
  }
  .link-boxs {
    .app-link {
      width: 100%;
    }
    .reward-link {
      width: 100%;
    }
  }
  .social-links {
    & > tbody > tr > th {
      padding-bottom: 0 !important;
    }
    .social-group {
      max-width: 300px !important;
      width: 100% !important;
      .columns {
        padding: 0 6px !important;
      }
      .instagram {
        max-width: 31px ;
        min-width: 20px ;
        padding: 8px ;
      }
      .youtube {
        max-width: 34px ;
        min-width: 20px ;
        padding: 8px ;
      }
      .facebook {
        max-width: 34px ;
        min-width: 20px ;
        padding: 8px ;
      }
      .twitter {
        max-width: 34px ;
        min-width: 20px ;
        padding: 8px ;
      }
      .snapchat {
        max-width: 33px ;
        min-width: 13px ;
        padding: 8px ;
      }
      .f21-app {
        max-width: 33px ;
        min-width: 13px ;
        padding: 8px ;
      }
    }
  }
}
