html,
body,
.body {
  background: #ffffff !important;
  background-color: #ffffff !important;
}

.forever-header {
  background: #ffffff;
  background-color: #ffffff;
  & > tbody > tr > th {
    padding: 5px !important;
  }
  .header-top {
    & > tbody > tr > th {
      padding: 0 0 20px !important;
    }
    .logo {
      width: 100%;
    }
  }
  .header-bottom {
    & > tbody > tr > th {
      padding: 0 !important;
    }
    .seventy-off-long-img {
      width: 100%;
    }
  }
}

.promotional {
  & > tbody > tr > th {
    padding: 0 5px 0 !important;
  }
  .hero {
    & > tbody > tr > th {
      padding-bottom: 0 !important;
    }
    .hero-img {
      width: 100%;
    }
  }
  .three-sm-boxs {
    .columns {
      padding: 0 !important;
    }
    img {
      width: 100%;
    }
  }
  .two-long-one-big {
    .columns {
      padding: 0 !important;
    }
    .top {
      img {
        width: 100%;
      }
    }
    .bottom {
      img {
        width: 100%;
      }
    }
  }
  .shop-now {
    & > tbody > tr > th {
      padding-bottom: 0 !important;
    }
    .shop-now-img {
      width: 100%;
    }
  }
  .bogo-dollar {
    & > tbody > tr > th {
      padding-bottom: 10px !important;
    }
    .bogo-dollar-img {
      width: 100%;
    }
  }
  .seventy-off-md {
    & > tbody > tr > th {
      padding-bottom: 20px !important;
    }
    .seventy-off-md-img {
      width: 100%;
    }
  }
}

.forever-footer {
  & > tbody > tr > th {
    padding: 10px 5px 0 !important;
  }
  .link-boxs {
    .app-link {
      width: 100%;
    }
    .reward-link {
      width: 100%;
    }
  }
  .social-links {
    max-width: 350px !important;
    width: 100% !important;
    & > tbody > tr > th {
      padding-bottom: 0 !important;
    }
    .social-group {
      .columns {
        width: 200px !important;
      }
      .instagram {
        max-width: 31px;
        width: 100%;
        padding: 8px;
      }
      .youtube {
        max-width: 34px;
        width: 100%;
        padding: 8px;
      }
      .facebook {
        max-width: 34px;
        width: 100%;
        padding: 8px;
      }
      .twitter {
        max-width: 34px;
        width: 100%;
        padding: 8px;
      }
      .snapchat {
        max-width: 33px;
        width: 100%;
        padding: 8px;
      }
      .f21-app {
        max-width: 33px;
        width: 100%;
        padding: 8px;
      }
    }
  }
  .footer-bottom {
    & > tbody > tr > th {
      padding-bottom: 0 !important;
    }
    .f21-black-bar-one,
    .f21-black-bar-two {
      padding: 0;
      .f21-black-bar {
        width: 100%;
      }
    }
    .f21-black-text-link {
      padding: 5px 0 10px;
      .f21-black-text-img {
        width: 25%;
      }
    }

    .footer-text-box {
      & > tbody > tr > th {
        padding: 0 !important;
      }
      margin-top: 20px !important;
      .store-location {
        .store-location-img {
          width: 100%;
        }
      }
      .help-hotline {
        .help-hotline-text {
          font-family: "Arial Narrow", Arial, Helvetica, sans-serif;
          color: #000000;
          padding: 5px 0 0;
          font-size: 16px;
          text-align: center;
        }
      }
      .text-top {
        & > tbody > tr > th {
          padding: 0 !important;
        }
        p {
          color: #222222;
          font-family: Arial, Helvetica, sans-serif;
          font-size: 9px;
          line-height: 11px;
          padding: 5px;
          text-align: left;
        }
        span {
          font-weight: bold;
        }
      }
    }
  }
}

.text-bottom {
  & > tbody > tr > th {
    padding: 0 !important;
  }
  a {
    color: #222222;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    line-height: 13px;
    padding-bottom: 5px;
    text-align: center;
  }

  p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    line-height: 13px;
    text-align: center;
    color: #222222;
    padding: 0 16px;
  }

  span {
    font-weight: bold;
  }
}
