<container>
  <row class="header">
    <columns small="12" large="12" style="padding: 0 !important">
      <row class="logo">
        <columns
          small="12"
          large="12"
          style="padding: 35px 35px 25px !important"
        >
          <a
            href="https://dollargeneralmarketing.com/pub/cc?_ri_=X0Gzc2X%3DAQpglLjHJlDQG52kSfBrY97azdtu0MkgsNzgHBNIzbzdu5ACEfyPLozg04NzeUWU9aVXtpKX%3DYRSAD&_ei_=EW2tf9zs59idfPO1Sc_9BbmtV4ToFicAtO-moY-fNam5VOMjEgvzA9XomMfyJHVvhXjOP7lcBuVSl2BNcqYgZ_JIspYjaKI3xjSyHXVQvbwF0EKjpOAAeGlX8VM.&_di_=7hjin1ek0e4d4io0nf898a5jcdcqi7gnspoj2t5jkfpvu6nct9vg"
            ><img
              src="https://ecp.yusercontent.com/mail?url=https%3A%2F%2Fstatic.cdn.responsys.net%2Fi9%2Fresponsysimages%2Fdollargen%2Fcontentlibrary%2F%21templates%2Fshells%2Fimages%2Fdg_logo.png&t=1644191393&ymreqid=640752e0-1570-f1b5-1c80-fd0000013900&sig=g7UnuJ_jBEpLPIBG0XHTbA--~D"
              alt=""
              class="logo-img float-center"
          /></a>
        </columns>
      </row>
      <row class="nav">
        <columns>
          <row class="nav-links">
            <columns small="12" large="12" style="padding: 0 15px 15px !important;">
              <p class="text-center">
                <a
                  href="https://dollargeneralmarketing.com/pub/cc?_ri_=X0Gzc2X%3DAQpglLjHJlDQG52kSfBrY97azdtu0MkgsNzgHBNIzbzdu5ACEfyPLozg04NzeUWU9aVXtpKX%3DYRSCD&_ei_=EW2tf9zs59idfPO1Sc_9BbmtV4ToFicAtO-moY-fNam5VOMjEgvzA9XomMfyJHVvhXjOP7lcBuVSl2BNcqYgZ_JIspYjaKI3xjSyHXVQvbwF0EKjpOAAeGlX8VM.&_di_=68jd1tjgfac5fvv818cpj8mtd4omedp0ispn4k9s37ufpiqsc8l0"
                  >CURRENT AD</a
                >
                <span style="color: #ffffff; padding: 0 5px"> | </span>
                <a
                  href="https://dollargeneralmarketing.com/pub/cc?_ri_=X0Gzc2X%3DAQpglLjHJlDQG52kSfBrY97azdtu0MkgsNzgHBNIzbzdu5ACEfyPLozg04NzeUWU9aVXtpKX%3DYRTRD&_ei_=EW2tf9zs59idfPO1Sc_9BbmtV4ToFicAtO-moY-fNam5VOMjEgvzA9XomMfyJHVvhXjOP7lcBuVSl2BNcqYgZ_JIspYjaKI3xjSyHXVQvbwF0EKjpOAAeGlX8VM.&_di_=nmmmqo4ua1jn22mh4ro47b6ipsdg602e44a0nigb05l6sc97oms0"
                >
                  COUPONS</a
                >
                <span style="color: #ffffff; padding: 0 5px"> | </span>
                <a
                  href="https://dollargeneralmarketing.com/pub/cc?_ri_=X0Gzc2X%3DAQpglLjHJlDQG52kSfBrY97azdtu0MkgsNzgHBNIzbzdu5ACEfyPLozg04NzeUWU9aVXtpKX%3DYRTTD&_ei_=EW2tf9zs59idfPO1Sc_9BbmtV4ToFicAtO-moY-fNam5VOMjEgvzA9XomMfyJHVvhXjOP7lcBuVSl2BNcqYgZ_JIspYjaKI3xjSyHXVQvbwF0EKjpOAAeGlX8VM.&_di_=mb7isqbjpbveomv1j8ulkph75c68icr6qj3kigkfo4d0186ot69g"
                >
                  DG APP</a
                >
                <span style="color: #ffffff; padding: 0 5px"> | </span>
                <a
                  href="https://dollargeneralmarketing.com/pub/cc?_ri_=X0Gzc2X%3DAQpglLjHJlDQG52kSfBrY97azdtu0MkgsNzgHBNIzbzdu5ACEfyPLozg04NzeUWU9aVXtpKX%3DYRTWD&_ei_=EW2tf9zs59idfPO1Sc_9BbmtV4ToFicAtO-moY-fNam5VOMjEgvzA9XomMfyJHVvhXjOP7lcBuVSl2BNcqYgZ_JIspYjaKI3xjSyHXVQvbwF0EKjpOAAeGlX8VM.&_di_=3t0kd4dke4i10gom8r8ncagr6ph505av4478067fg6seq401q3f0"
                >
                  SHOP ONLINE</a
                >
              </p>
            </columns>
          </row>
        </columns>
      </row>
    </columns>
  </row>
</container>
