<container>
  <row class="footer float-center">
    <columns small="12" large="12" style="padding: 15px 0 0 !important;">
      <row class="social-area float-center">
        <columns small="12" large="12">
          <row class="social-links float-center">
            <columns small="1" large="1" style="padding: 0  5px !important;">
              <a
                href="https://dollargeneralmarketing.com/pub/cc?_ri_=X0Gzc2X%3DAQpglLjHJlDQG52kSfBrY97azdtu0MkgsNzgHBNIzbzdu5ACEfyPLozg04NzeUWU9aVXtpKX%3DYRWTD&_ei_=EW2tf9zs59idfPO1Sc_9BbmtV4ToFicAtO-moY-fNam5VOMjEgvzA9XomMfyJHVvhXjOP7lcBuVSl2BNcqYgZ_JIspYjaKI3xjSyHXVQvbwF0EKjpOAAeGlX8VM.&_di_=n0spirdbljh9ecog8puc35m9mqg440g80651jb7vdn9d3q1g8t10"
                ><img class="icon"
                  src="https://ecp.yusercontent.com/mail?url=https%3A%2F%2Fstatic.cdn.responsys.net%2Fi9%2Fresponsysimages%2Fdollargen%2Fcontentlibrary%2F%21templates%2Fshells%2Fimages%2Fsm_fb.png&t=1644191393&ymreqid=640752e0-1570-f1b5-1c80-fd0000013900&sig=18vtPMyl2.c30svD9OM0Zw--~D"
                  alt=""
              /></a>
            </columns>
            <columns small="1" large="1" style="padding: 0  5px !important;">
              <a
                href="https://dollargeneralmarketing.com/pub/cc?_ri_=X0Gzc2X%3DAQpglLjHJlDQG52kSfBrY97azdtu0MkgsNzgHBNIzbzdu5ACEfyPLozg04NzeUWU9aVXtpKX%3DYRWWD&_ei_=EW2tf9zs59idfPO1Sc_9BbmtV4ToFicAtO-moY-fNam5VOMjEgvzA9XomMfyJHVvhXjOP7lcBuVSl2BNcqYgZ_JIspYjaKI3xjSyHXVQvbwF0EKjpOAAeGlX8VM.&_di_=gisbv42lguao3bn9g8vuj509rclmc9cgvlp3st9emhfosg944rb0"
                ><img class="icon"
                  src="https://ecp.yusercontent.com/mail?url=https%3A%2F%2Fstatic.cdn.responsys.net%2Fi9%2Fresponsysimages%2Fdollargen%2Fcontentlibrary%2F%21templates%2Fshells%2Fimages%2Fsm_ig.png&t=1644227220&ymreqid=640752e0-1570-f1b5-1cf8-6f0000018500&sig=xJKnFbCI1rPbKiaRiGaVZw--~D"
                  alt=""
              /></a>
            </columns>
            <columns small="1" large="1" style="padding: 0  5px !important;">
              <a
                href="https://dollargeneralmarketing.com/pub/cc?_ri_=X0Gzc2X%3DAQpglLjHJlDQG52kSfBrY97azdtu0MkgsNzgHBNIzbzdu5ACEfyPLozg04NzeUWU9aVXtpKX%3DYRWAD&_ei_=EW2tf9zs59idfPO1Sc_9BbmtV4ToFicAtO-moY-fNam5VOMjEgvzA9XomMfyJHVvhXjOP7lcBuVSl2BNcqYgZ_JIspYjaKI3xjSyHXVQvbwF0EKjpOAAeGlX8VM.&_di_=is3s15ku4tsrcrhi92ahk5fpae1eh0a1krfaeg1476n7ali0j8c0"
                ><img class="icon"
                  src="https://ecp.yusercontent.com/mail?url=https%3A%2F%2Fstatic.cdn.responsys.net%2Fi9%2Fresponsysimages%2Fdollargen%2Fcontentlibrary%2F%21templates%2Fshells%2Fimages%2Fsm_yt.png&t=1644227220&ymreqid=640752e0-1570-f1b5-1cf8-6f0000018500&sig=6Gu8fd93A1zncemb4bs.Fg--~D"
                  alt=""
              /></a>
            </columns>
            <columns small="1" large="1" style="padding: 0  5px !important;">
              <a
                href="https://dollargeneralmarketing.com/pub/cc?_ri_=X0Gzc2X%3DAQpglLjHJlDQG52kSfBrY97azdtu0MkgsNzgHBNIzbzdu5ACEfyPLozg04NzeUWU9aVXtpKX%3DYRWCD&_ei_=EW2tf9zs59idfPO1Sc_9BbmtV4ToFicAtO-moY-fNam5VOMjEgvzA9XomMfyJHVvhXjOP7lcBuVSl2BNcqYgZ_JIspYjaKI3xjSyHXVQvbwF0EKjpOAAeGlX8VM.&_di_=uojkm1mpocn1t1rggarmp8ejp0mopbl4rcr1evhnba4f34ig71cg"
                ><img class="icon"
                  src="https://ecp.yusercontent.com/mail?url=https%3A%2F%2Fstatic.cdn.responsys.net%2Fi9%2Fresponsysimages%2Fdollargen%2Fcontentlibrary%2F%21templates%2Fshells%2Fimages%2Fsm_tw.png&t=1644227220&ymreqid=640752e0-1570-f1b5-1cf8-6f0000018500&sig=8Hsy_PAZj.DmIGw8_N9JXg--~D"
                  alt=""
              /></a>
            </columns>
            <columns small="1" large="1" style="padding: 0  5px !important;">
              <a
                href="https://dollargeneralmarketing.com/pub/cc?_ri_=X0Gzc2X%3DAQpglLjHJlDQG52kSfBrY97azdtu0MkgsNzgHBNIzbzdu5ACEfyPLozg04NzeUWU9aVXtpKX%3DYRYRD&_ei_=EW2tf9zs59idfPO1Sc_9BbmtV4ToFicAtO-moY-fNam5VOMjEgvzA9XomMfyJHVvhXjOP7lcBuVSl2BNcqYgZ_JIspYjaKI3xjSyHXVQvbwF0EKjpOAAeGlX8VM.&_di_=kfgi923n76rqt6ckrathgsujpup3lbqlegc5j95h2fa0apfmff7g"
                ><img class="icon"
                  src="https://ecp.yusercontent.com/mail?url=https%3A%2F%2Fstatic.cdn.responsys.net%2Fi9%2Fresponsysimages%2Fdollargen%2Fcontentlibrary%2F%21templates%2Fshells%2Fimages%2Fsm_in.png&t=1644227220&ymreqid=640752e0-1570-f1b5-1cf8-6f0000018500&sig=NE0pRE71VFWAzxv60Qrn1Q--~D"
                  alt=""
              /></a>
            </columns>
            <columns small="1" large="1" style="padding: 0  5px !important;">
              <a
                href="https://dollargeneralmarketing.com/pub/cc?_ri_=X0Gzc2X%3DAQpglLjHJlDQG52kSfBrY97azdtu0MkgsNzgHBNIzbzdu5ACEfyPLozg04NzeUWU9aVXtpKX%3DYRYTD&_ei_=EW2tf9zs59idfPO1Sc_9BbmtV4ToFicAtO-moY-fNam5VOMjEgvzA9XomMfyJHVvhXjOP7lcBuVSl2BNcqYgZ_JIspYjaKI3xjSyHXVQvbwF0EKjpOAAeGlX8VM.&_di_=0fj9bkkbc4suus54vj5fj03l78edbkc6nel4dn9rjbgu9op9mujg"
                ><img class="icon"
                  src="https://ecp.yusercontent.com/mail?url=https%3A%2F%2Fstatic.cdn.responsys.net%2Fi9%2Fresponsysimages%2Fdollargen%2Fcontentlibrary%2F%21templates%2Fshells%2Fimages%2Fsm_pn.png&t=1644227220&ymreqid=640752e0-1570-f1b5-1cf8-6f0000018500&sig=aP0EFNHA5TJp.CpbA.g_yA--~D"
                  alt=""
              /></a>
            </columns>
            <columns small="1" large="1" style="padding: 0  5px !important;">
              <a
                href="https://dollargeneralmarketing.com/pub/cc?_ri_=X0Gzc2X%3DAQpglLjHJlDQG52kSfBrY97azdtu0MkgsNzgHBNIzbzdu5ACEfyPLozg04NzeUWU9aVXtpKX%3DYRYWD&_ei_=EW2tf9zs59idfPO1Sc_9BbmtV4ToFicAtO-moY-fNam5VOMjEgvzA9XomMfyJHVvhXjOP7lcBuVSl2BNcqYgZ_JIspYjaKI3xjSyHXVQvbwF0EKjpOAAeGlX8VM.&_di_=b6i0va7loc5pbagq2ue7vkf1aq8so6756smu1dlpnennabfjmpi0"
                ><img class="icon"
                  src="https://ecp.yusercontent.com/mail?url=https%3A%2F%2Fstatic.cdn.responsys.net%2Fi9%2Fresponsysimages%2Fdollargen%2Fcontentlibrary%2F%21templates%2Fshells%2Fimages%2Fsm_em.png&t=1644227220&ymreqid=640752e0-1570-f1b5-1cf8-6f0000018500&sig=m1KOzLr5q8dwsbpR8jg0jg--~D"
                  alt=""
              /></a>
            </columns>
          </row>
        </columns>
      </row>
      <row class="help-links">
        <columns >
          
        </columns>
      </row>
    </columns>
  </row>
</container>
