<container>
  <row class="dollar-header">
    <columns small="12" large="12" style="padding: 0 !important">
      <row class="logo">
        <columns
          small="12"
          large="12"
          style="padding: 35px 35px 25px !important"
        >
          <a
            href="{{dollarGEmail.dollarHeader.linkToLogo}}"
            ><img
              src="{{dollarGEmail.dollarHeader.logo}}"
              alt=""
              class="logo-img float-center"
          /></a>
        </columns>
      </row>
      <row class="nav">
        <columns>
          <row class="nav-links">
            <columns small="12" large="12" style="padding: 0 15px 15px !important;">
              <p class="text-center">
                <a
                  href="{{dollarGEmail.dollarHeader.linkToNav1}}"
                  >{{dollarGEmail.dollarHeader.nav1}}</a
                >
                <span style="color: #ffffff; padding: 0 5px"> | </span>
                <a
                  href="{{dollarGEmail.dollarHeader.linkToNav2}}"
                >
                {{dollarGEmail.dollarHeader.nav2}}</a
                >
                <span style="color: #ffffff; padding: 0 5px"> | </span>
                <a
                  href="{{dollarGEmail.dollarHeader.linkToNav3}}"
                >
                {{dollarGEmail.dollarHeader.nav3}}</a
                >
                <span style="color: #ffffff; padding: 0 5px"> | </span>
                <a
                  href="{{dollarGEmail.dollarHeader.linkToNav4}}"
                >
                {{dollarGEmail.dollarHeader.nav4}}</a
                >
              </p>
            </columns>
          </row>
        </columns>
      </row>
    </columns>
  </row>
</container>
