<container>
  <row
    class="elf-footer float-center"
    style="background: #000000; background-color: #000000;"
  >
    <columns small="12" large="12" style="padding: 0 !important">
      <row class="social-links">
        <columns style="padding: 10px 10px 0 !important;">
          <a
            href="{{elfEmail.socialLinks.linkToSocial1}}"
            ><img
              src="{{elfEmail.socialLinks.image1}}"
              alt=""
              class="float-center"
          /></a>
          <p  style="text-align: center; padding-top: 30px;">
            <a
            href="{{elfEmail.socialLinks.unsubscribeLink}}"
            style="
              font-family: 'Assistant', Arial, sans-serif;
              font-size: 15px;
              color: #ffffff;
            "
            >{{elfEmail.socialLinks.unsubscribeText}}</a
          >
          </p>
          
        </columns>
        <columns style="padding: 10px 10px 0 !important;">
          <a
            href="{{elfEmail.socialLinks.linkToSocial2}}"
            ><img
              src="{{elfEmail.socialLinks.image2}}"
              alt=""
              class="float-center"
          /></a>
          <p  style="text-align: center; padding-top: 30px;">
            <a
            href="{{elfEmail.socialLinks.accountLink}}"
            style="
              font-family: 'Assistant', Arial, sans-serif;
              font-size: 15px;
              color: #ffffff;
            "
            >{{elfEmail.socialLinks.accountText}}</a
          >
          </p>
          
        </columns>
        <columns style="padding: 10px 10px 0 !important">
          <a
            href="{{elfEmail.socialLinks.linkToSocial3}}"
            ><img
              src="{{elfEmail.socialLinks.image3}}"
              alt=""
              class="float-center"
          /></a>
          <p style="text-align: center; padding-top: 30px;">
            <a
            href="{{elfEmail.socialLinks.findStoreLink}}"
            style="
              font-family: 'Assistant', Arial, sans-serif;
              font-size: 15px;
              color: #ffffff;
            "
            >{{elfEmail.socialLinks.findStoreText}}</a
          >
          </p>
          
        </columns>
        <columns style="padding: 10px 10px 0 !important">
          <a
            href="{{elfEmail.socialLinks.linkToSocial4}}"
            ><img
              src="{{elfEmail.socialLinks.image4}}"
              alt=""
              class="float-center"
          /></a>
          <p style="text-align: center; padding-top: 30px;">
            <a
            href="{{elfEmail.socialLinks.faqsLink}}"
            style="
              font-family: 'Assistant', Arial, sans-serif;
              font-size: 15px;
              color: #ffffff;
            "
            >{{elfEmail.socialLinks.faqsText}}</a
          >
          </p>
          
        </columns>
        <columns style="padding: 10px 10px 0 !important">
          <a
            href="{{elfEmail.socialLinks.linkToSocial5}}"
            ><img
              src="{{elfEmail.socialLinks.image5}}"
              alt=""
              class="float-center"
          /></a>
          <p style="text-align: center; padding-top: 30px;">
            <a
            href="{{elfEmail.socialLinks.PolicyLink}}"
            style="
              font-family: 'Assistant', Arial, sans-serif;
              font-size: 15px;
              color: #ffffff;
            "
            >{{elfEmail.socialLinks.PolicyText}}</a
          >
          </p>
          
        </columns>
      </row>
      <row class="link-text-box">
        <columns small="12" large="12">
          <p style="text-align: center; margin: 30px 0 10px !important;"><a style="font-family: 'Assistant', Arial, sans-serif;
            font-size: 15px;
            color: #ffffff;" href="{{elfEmail.socialLinks.browserLink}}">{{elfEmail.socialLinks.browserText}}</a></p>
        </columns>
      </row>
    </columns>
  </row>
  <row class="elf-loaction" style="margin: 100px 0;">
    <columns small="12" large="12" style="padding: 0;">
      <p style="font-family: 'Assistant', Arial, sans-serif;
      font-size: 15px;
      color: #000000;
      text-align: center;
      margin: 0;">
        e.l.f. Cosmetics <br>
        570 10th Street, <br>
        Oakland, CA, 94607 <br>
              US <br> <br>

        © 2020 e.l.f. Cosmetics, Inc.
      </p>
    </columns>
  </row>
</container>
