<container>
  <row
    class="elf-footer float-center"
    style="background: #000000; background-color: #000000;"
  >
    <columns small="12" large="12" style="padding: 0 !important">
      <row class="social-links">
        <columns style="padding: 0 !important;">
          <a
            href="http://click.e.elfcosmetics.com/?qs=62d653de483e8c92c2a08867cb5ab72698f1c7bc0fbcf8042ae6b038091f93241f9884fb0a9d02295cb4098cd86a6082189b3077d1654ebfdc03338d88aac987"
            ><img
              src="https://ecp.yusercontent.com/mail?url=http%3A%2F%2Fimage.e.elfcosmetics.com%2Flib%2Ffe3715707564047c7c1178%2Fm%2F8%2Fe9be5f4e-69ed-4fff-a6b8-3008272fc7e4.jpg&t=1644250304&ymreqid=640752e0-1570-f1b5-1c8b-770000010200&sig=7CedAkiYKX4YZpV7_4IHYA--~D"
              alt=""
              class="float-center"
          /></a>
          <p  style="text-align: center;">
            <a
            href="http://click.e.elfcosmetics.com/?qs=62d653de483e8c92f12a8133f2f0b18fc1b29a4a26964a20292b5562478629747fa8107edbb5ca30294afcf1a4e7be75a2cec6d1019d5523607f78a24239d687"
            style="
              font-family: 'Assistant', Arial, sans-serif;
              font-size: 15px;
              color: #ffffff;
            "
            >Unsubscribe</a
          >
          </p>
          
        </columns>
        <columns style="padding: 0 10px !important">
          <a
            href="http://click.e.elfcosmetics.com/?qs=62d653de483e8c928f6585afdeb1f6ff5cffc09a627c0e6cb6d8eb31738cda71944ed6232d0d790cc2bf2f56788fd31a77350c1fef3a3c89e1684f9e1cffdb2a"
            ><img
              src="https://ecp.yusercontent.com/mail?url=http%3A%2F%2Fimage.e.elfcosmetics.com%2Flib%2Ffe3715707564047c7c1178%2Fm%2F8%2F8a644a48-c3ee-4a57-b7c5-3362adec9f8e.jpg&t=1644250304&ymreqid=640752e0-1570-f1b5-1c8b-770000010200&sig=ufAgBnycBTQZALkmCphbHQ--~D"
              alt=""
              class="float-center"
          /></a>
          <p  style="text-align: center;">
            <a
            href="http://click.e.elfcosmetics.com/?qs=62d653de483e8c92223d14d140ade50789b861bb55e562257ea95af57d6b808ff78847b60d8b1852a243ae2c2a1da88e8e5a49a514ced8c4d8ce7dcdd7c5bf13"
            style="
              font-family: 'Assistant', Arial, sans-serif;
              font-size: 15px;
              color: #ffffff;
            "
            >My Account</a
          >
          </p>
          
        </columns>
        <columns style="padding: 0 !important">
          <a
            href="http://click.e.elfcosmetics.com/?qs=62d653de483e8c920efe00bdb08e2c947865479c5fe2382d71baddc9a4a780610cc65c20c066c32f6c39b8cd16751024ab1a24ba2952a4c72396ee8e65830524"
            ><img
              src="https://ecp.yusercontent.com/mail?url=http%3A%2F%2Fimage.e.elfcosmetics.com%2Flib%2Ffe3715707564047c7c1178%2Fm%2F8%2Ff0361122-434c-4a4a-8587-5016dd6400a8.jpg&t=1644250304&ymreqid=640752e0-1570-f1b5-1c8b-770000010200&sig=3.d1COxOS80wqnpI34P5pw--~D"
              alt=""
              class="float-center"
          /></a>
          <p style="text-align: center;">
            <a
            href="http://click.e.elfcosmetics.com/?qs=62d653de483e8c928750a385017db086455cac9176fcc224ff229b576585dc3159cf9d29e8f24a84057d4d789d0af00f667dd7417585c21cc5b26bad4d229757"
            style="
              font-family: 'Assistant', Arial, sans-serif;
              font-size: 15px;
              color: #ffffff;
            "
            >Find a Store</a
          >
          </p>
          
        </columns>
        <columns style="padding: 0 !important">
          <a
            href="http://click.e.elfcosmetics.com/?qs=62d653de483e8c92184a9f2688183b07420652851af81d76495a4fca0f3500d81c502aea4abbacde41a070d9ff9b67f0fb052013e8bd0f2d5578daa13ba07b31"
            ><img
              src="https://ecp.yusercontent.com/mail?url=http%3A%2F%2Fimage.e.elfcosmetics.com%2Flib%2Ffe3715707564047c7c1178%2Fm%2F8%2F6f8606f8-dd54-421a-90e6-9059fa2bfba0.jpg&t=1644250304&ymreqid=640752e0-1570-f1b5-1c8b-770000010200&sig=umd06xuIq4WGAVc4YSOXMQ--~D"
              alt=""
              class="float-center"
          /></a>
          <p style="text-align: center;">
            <a
            href="http://click.e.elfcosmetics.com/?qs=62d653de483e8c927f8f452f3fba861edcbc7917c1106f9d3702ea9647ec46764e7bfca0bc205ec17ffe99f90db0588d81e340cea0f93cbba3254ba909c73cf1"
            style="
              font-family: 'Assistant', Arial, sans-serif;
              font-size: 15px;
              color: #ffffff;
            "
            >FAQs</a
          >
          </p>
          
        </columns>
        <columns style="padding: 0 !important">
          <a
            href="http://click.e.elfcosmetics.com/?qs=62d653de483e8c92f38c3a2f97ea48a1184f946e5dd1e343d5e0a7bee62ce4a02a1d6a489689939d2bed823e8adfabdd73780a6da4e481bbffbbc6fbb106240a"
            ><img
              src="https://ecp.yusercontent.com/mail?url=http%3A%2F%2Fimage.e.elfcosmetics.com%2Flib%2Ffe3715707564047c7c1178%2Fm%2F8%2F7560af92-2f1a-4b31-b64b-8e98fc5eac03.jpg&t=1644250304&ymreqid=640752e0-1570-f1b5-1c8b-770000010200&sig=I3T4liCmL8.ZmyJM8DgWyA--~D"
              alt=""
              class="float-center"
          /></a>
          <p style="text-align: center;">
            <a
            href="http://click.e.elfcosmetics.com/?qs=62d653de483e8c927482c517b9686b85acc46e7061cf9aae6ca600a1e96944cfd0bb9fd4a6b26f098e94f9dc534f552bcc672a1e3a6724a6a16f52b7f3952be5"
            style="
              font-family: 'Assistant', Arial, sans-serif;
              font-size: 15px;
              color: #ffffff;
            "
            >Privacy Policy</a
          >
          </p>
          
        </columns>
      </row>
      <row class="link-text-box">
        <columns small="12" large="12">
          <p style="text-align: center; margin: 30px 0 10px !important;"><a style="font-family: 'Assistant', Arial, sans-serif;
            font-size: 15px;
            color: #ffffff;" href="http://view.e.elfcosmetics.com/?qs=9c6e4c6f4bc73dd00977cbb1495acbe7bbf4f438e2b76ec05f1f8cf74451193e93cc9dce90cacb2ada2d949d956816648beddc947c251488e5b96508914622aa4d294414319acd2eacb4c8d585e81567">View In Browser</a></p>
        </columns>
      </row>
    </columns>
  </row>
  <row class="elf-loaction" style="margin: 100px 0;">
    <columns small="12" large="12" style="padding: 0;">
      <p style="font-family: 'Assistant', Arial, sans-serif;
      font-size: 15px;
      color: #000000;
      text-align: center;
      margin: 0;">
        e.l.f. Cosmetics <br>
        570 10th Street, <br>
        Oakland, CA, 94607 <br>
              US <br> <br>

        © 2020 e.l.f. Cosmetics, Inc.
      </p>
    </columns>
  </row>
</container>
