<container>
  <row class="forever-header">
    <columns small="12" large="12" style="padding: 5px !important;">
      <row class="header-top">
        <columns small="12" large="12">
          <a href="{{forever21Email.forever-header.linkToLogo}}"><img class="logo" src="{{forever21Email.forever-header.logo}}"></a>
        </columns>
      </row>
      <row class="header-bottom">
        <columns small="12" large="12">
          <a href="{{forever21Email.forever-header.linkToDeal}}"><img class="seventy-off-long-img" src="{{forever21Email.forever-header.image}}"></a>
        </columns>
      </row>
    </columns>
  </row>
</container>
