<container>
  <row class="footer">
    <columns small="12" large="12">
      <row class="link-boxs">
        <columns small="6" large="6">
          <a
            href="https://click.i.forever21.com/u/?qs=2a509f83cb739d8565ae0204765a9b1ed55d75b35d02c03d8ff7f5b7c5b0a20ca27f74cf21ffe29358b002617b5ad788522251a1d954779599212a774ff4100b"
            ><img
              src="https://ecp.yusercontent.com/mail?url=http%3A%2F%2Fimage.i.forever21.com%2Flib%2Ffe3415707564067e761d79%2Fm%2F1%2Fe5525bdf-5c8d-4136-8523-f176e988e354.jpg&t=1644191431&ymreqid=640752e0-1570-f1b5-1ca5-c4000301c400&sig=XLaBbwpa3lu.HHmdfV78qA--~D"
              class="app-link"
          /></a>
        </columns>
        <columns small="6" large="6">
          <a
            href="https://click.i.forever21.com/u/?qs=2a509f83cb739d851275f5b935b673a00a7cf0d5ca38333c59331326993d67b8942d85d8466df3b856960c899f8aa4383dc9516e614be2f54fb6d99da9af060c"
            ><img
              src="https://ecp.yusercontent.com/mail?url=http%3A%2F%2Fimage.i.forever21.com%2Flib%2Ffe3415707564067e761d79%2Fm%2F1%2Fb7fc42f0-75f8-4512-a909-ed918c1c078d.jpg&t=1644191431&ymreqid=640752e0-1570-f1b5-1ca5-c4000301c400&sig=703uJCvUTBzyWgoXFB_43A--~D"
              class="reward-link"
          /></a>
        </columns>
      </row>
      <row class="social-links float-center">
        <columns small="12" large="12" style="padding: 0 !important">
          <row class="social-group">
            <columns>
              <a
                href="https://click.i.forever21.com/u/?qs=2a509f83cb739d8581228d1d4bca0088cf450a8030f5e4bb56cdc3281c8baff6e7d939a56790b8a89f247e201f68523870b93a9e108711c5b769f8beafdc8260"
                ><img
                  src="https://ecp.yusercontent.com/mail?url=https%3A%2F%2Fimage.i.forever21.com%2Flib%2Ffe3415707564067e761d79%2Fm%2F13%2F0a9731fa-79ac-4b15-9bc9-beb2b037fb42.png&t=1644191431&ymreqid=640752e0-1570-f1b5-1ca5-c4000301c400&sig=ixBsiMRleQvZdlConUOa5w--~D"
                  class="instagram float-center"
              /></a>
            </columns>
            <columns>
              <a
                href="https://click.i.forever21.com/u/?qs=2a509f83cb739d85c1bc4573ccabd666394d7dd16bb29aa7cdc630f8c5bd4a3db1ec8e5a4d9b08096813fa968b08aeb496ec87b7f979b8e897762dd367067a7d"
                ><img
                  src="https://ecp.yusercontent.com/mail?url=https%3A%2F%2Fimage.i.forever21.com%2Flib%2Ffe3415707564067e761d79%2Fm%2F13%2F4b50c186-e1c8-405a-910d-9dd6a826c2f4.png&t=1644191431&ymreqid=640752e0-1570-f1b5-1ca5-c4000301c400&sig=lEtF70Ldz_IkiXjJ63nNDg--~D"
                  class="youtube float-center"
              /></a>
            </columns>
            <columns>
              <a
                href="https://click.i.forever21.com/u/?qs=2a509f83cb739d851988db7a3417c458e736dc7321eae5591ff0113ab7090279f1e618784b7ab5cea873c7e1a66b6be5e50ab56059f2b881e3a9f9eb6127cbd6"
                ><img
                  src="https://ecp.yusercontent.com/mail?url=https%3A%2F%2Fimage.i.forever21.com%2Flib%2Ffe3415707564067e761d79%2Fm%2F13%2F6e62ae19-221e-4448-b057-8063d6570455.png&t=1644191431&ymreqid=640752e0-1570-f1b5-1ca5-c4000301c400&sig=FgFoFz7bBn51NoYxCkVJIg--~D"
                  class="facebook float-center"
              /></a>
            </columns>
            <columns>
              <a
                href="https://click.i.forever21.com/u/?qs=2a509f83cb739d85ac34c29436d8ae63a71e15cdaaacf53df51e6a58fb4abfd8104cb46bab447a6b1c1b3ece6abbe592c079eb57a6817eee7140bceef08d9842"
                ><img
                  src="https://ecp.yusercontent.com/mail?url=https%3A%2F%2Fimage.i.forever21.com%2Flib%2Ffe3415707564067e761d79%2Fm%2F13%2Fc6fbe684-e0b4-4b46-ac62-87a744b9637b.png&t=1644191431&ymreqid=640752e0-1570-f1b5-1ca5-c4000301c400&sig=hVER0tbP.4gUNgPSQTvjNg--~D"
                  class="twitter float-center"
              /></a>
            </columns>
            <columns>
              <a
                href="https://click.i.forever21.com/u/?qs=2a509f83cb739d855c6d07eb35ace46a1130e681a1b56db6e04638febca16dff4274dcbdbfdd10312b9de11afd5fef9689ac69b27d756557e8c0acabff23aa08"
                ><img
                  src="https://ecp.yusercontent.com/mail?url=https%3A%2F%2Fimage.i.forever21.com%2Flib%2Ffe3415707564067e761d79%2Fm%2F13%2F366c0153-e146-448b-b709-1d1c2506fee6.png&t=1644191431&ymreqid=640752e0-1570-f1b5-1ca5-c4000301c400&sig=5pPdYRhu1aivrYEsYDIJPw--~D"
                  class="snapchat float-center"
              /></a>
            </columns>
            <columns>
              <a
                href="https://click.i.forever21.com/u/?qs=2a509f83cb739d856fdda5b79c29b75ae6e5202cda694d00bffa63a4e179ccebaffd1c687025a557af0c2244c3de8f6956783c18a749f318f1ab15c5ac4b4424"
                ><img
                  src="https://ecp.yusercontent.com/mail?url=https%3A%2F%2Fimage.i.forever21.com%2Flib%2Ffe3415707564067e761d79%2Fm%2F13%2Fb6739e63-4d08-415c-aceb-50167df541ad.png&t=1644191431&ymreqid=640752e0-1570-f1b5-1ca5-c4000301c400&sig=izDFQnF0J5a2lqRgEIUykw--~D"
                  class="f21-app float-center"
              /></a>
            </columns>
          </row>
        </columns>
      </row>
      <row class="footer-bottom">
        <columns small="12" large="12">
          <row>
            <columns class="f21-black-bar-one" small="12" large="12">
              <a
                href="https://click.i.forever21.com/u/?qs=2a509f83cb739d856fdda5b79c29b75ae6e5202cda694d00bffa63a4e179ccebaffd1c687025a557af0c2244c3de8f6956783c18a749f318f1ab15c5ac4b4424"
                ><img
                  src="https://ecp.yusercontent.com/mail?url=http%3A%2F%2Fimage.i.forever21.com%2Flib%2Ffe3415707564067e761d79%2Fm%2F1%2F6d30b05b-ba1b-4f46-9c30-f05ed9d1aa94.png&t=1644203221&ymreqid=640752e0-1570-f1b5-1c43-40000001ee00&sig=aU7JVB2CoFu1sLnytWFFXA--~D"
                  class="f21-black-bar"
              /></a>
            </columns>
          </row>
          <row>
            <columns class="f21-black-text-link" small="12" large="12">
              <a
                href="https://click.i.forever21.com/u/?qs=2a509f83cb739d85163c9c6fd68c182f7c44b5f16a8171b523ff9f2fcba360ef4822702c45813377c3dae661e698b7e6766272fb1abee768dc3df2eecabfc800"
                ><img
                  src="https://ecp.yusercontent.com/mail?url=http%3A%2F%2Fimage.i.forever21.com%2Flib%2Ffe3415707564067e761d79%2Fm%2F4%2Fa7778e1b-52d7-4a31-94ac-7386d47bf9b9.png&t=1644203221&ymreqid=640752e0-1570-f1b5-1c43-40000001ee00&sig=mJJLZURRgJeaPgON02Yo7Q--~D"
                  class="f21-black-text-img float-center"
              /></a>
            </columns>
          </row>
          <row>
            <columns class="f21-black-bar-two" small="12" large="12">
              <a
                href="https://click.i.forever21.com/u/?qs=2a509f83cb739d856fdda5b79c29b75ae6e5202cda694d00bffa63a4e179ccebaffd1c687025a557af0c2244c3de8f6956783c18a749f318f1ab15c5ac4b4424"
                ><img
                  src="https://ecp.yusercontent.com/mail?url=http%3A%2F%2Fimage.i.forever21.com%2Flib%2Ffe3415707564067e761d79%2Fm%2F1%2F6d30b05b-ba1b-4f46-9c30-f05ed9d1aa94.png&t=1644203221&ymreqid=640752e0-1570-f1b5-1c43-40000001ee00&sig=aU7JVB2CoFu1sLnytWFFXA--~D"
                  class="f21-black-bar"
              /></a>
            </columns>
          </row>
          <row class="footer-text-box">
            <columns small="12" large="12">
              <row class="store-location">
                <columns>
                  <a
                    href="https://click.i.forever21.com/u/?qs=2a509f83cb739d85bc0c0ff48571d5725ceab21c640825b075de3536fa0fe87586e6a995839916945a1f45f2ffb1cf7a2a8bb66055e10e48c5b83d67aebdb1a1"
                    ><img
                      src="https://ecp.yusercontent.com/mail?url=http%3A%2F%2Fimage.i.forever21.com%2Flib%2Ffe3415707564067e761d79%2Fm%2F1%2Fe9d642b9-86b9-4010-8749-21b7f6a481c0.png&t=1644203221&ymreqid=640752e0-1570-f1b5-1c43-40000001ee00&sig=tsYzQF5s2xynIx8MDAK20w--~D"
                      class="store-location-img"
                  /></a>
                </columns>
              </row>
              <row class="help-hotline">
                <columns small="12" large="12">
                  <p class="help-hotline-text">NEED HELP? 1.888.494.3837</p>
                </columns>
              </row>
              <row class="text-top">
                <columns small="12" large="12">
                  <p>
                    <span>UP TO 50% OFF ALMOST EVERYTHING:</span> Valid 2/3/22 -
                    2/9/22. Offer available online/in-app only. Receive Up to
                    50% Off Almost Everything in one single <br />
                    transaction before taxes. Cannot be combined with any other
                    promotional offer (excluding shipping promotions). Excludes
                    Black History Month Collection, <br />
                    Forever 21 x Hello Kitty and Friends, Forever 21 x Everlast,
                    and The Final Few Sale. Not applicable to the purchase of
                    gift cards or e-gift cards, or to taxes, <br />
                    shipping or handling charges. Applies to new purchases only.
                    Forever 21 reserves the right to modify or cancel this
                    promotion at any time without notice.
                  </p>

                  <p>
                    <span>COLD WEATHER FLASH SALE:</span> Valid 2/3/22 - 2/9/22.
                    Offer available online/in-app on the Cold Weather Flash Sale
                    Up to 70% Off Sweaters, Jackets, and <br />
                    Outerwear pages only. Cannot be combined with any other
                    offer (excluding shipping promotions). Excludes Black
                    History Month Collection, Forever 21 x <br />
                    Everlast, Forever 21 x Hello Kitty and Friends, Sale, and
                    The Final Few Sale. Discount not applicable to taxes,
                    shipping or handling charges. Applies to new <br />
                    purchases only. Forever 21 reserves the right to modify or
                    cancel this promotion at any time without notice.
                  </p>

                  <p>
                    <span>BOGO $1 SALE:</span> Valid 2/3/22 - 2/9/22.
                    Online/in-app on the Sale page only. Buy 1sale item and
                    receive the second sale item for $1 in one single <br />
                    transaction before taxes. To redeem, usecode BOGOSALE at
                    checkout. Valid on items marked "BOGO $1 Sale! Use Code:
                    BOGOSALE". While supplies <br />
                    last. Discount applies to items of equal or lesser value.
                    Cannot be combined with any other offer (excluding shipping
                    promotions). Excludes the final few <br />
                    sale and regular price items. Discount not applicable to
                    taxes, shipping or handling charges. Items are final sale
                    and are not eligible for refund or exchange. <br />
                    Not redeemable for cash or cash equivalent. Applies to new
                    purchases only. Forever 21 reserves the right to modify or
                    cancel this promotion at any time <br />
                    without notice.
                  </p>

                  <p>
                    <span>QUILTED JACKET UP TO 70% OFF:</span> Valid 2/4/22 -
                    2/6/22. Online/in-app on Quilted Jackets Up to 70% Off page
                    only. Cannot be combined with any other offer (excluding
                    shipping promotions). Excludes Black History Month
                    Collection, Forever 21 x Everlast, Forever 21 x Hello Kitty
                    and Friends, <br />
                    Doorbuster Deals, Sale, and The Final Few Sale. Discount not
                    applicable to taxes, shipping or handling charges. Applies
                    to new purchases only. Forever 21 <br />
                    reserves the right to modify or cancel this promotion at any
                    time without notice.
                  </p>

                  <p>
                    Forever 21 Credit Card Accounts are issued by Comenity
                    Capital Bank. Forever 21 Visa® Credit Card Accounts are
                    issued by Comenity Capital Bank <br />
                    pursuant to a license from Visa U.S.A. Inc. Visa is a
                    registered trademark of Visa International Service
                    Association and used under license.
                  </p>
                  <hr>
                </columns>
              </row>
            </columns>
          </row>
        </columns>
      </row>
    </columns>
  </row>
  <row class="text-bottom">
    <columns small="12" large="12">
      <p style="margin-bottom: 5px;">
        <a
          href="https://view.i.forever21.com/?qs=3d0573de4f9d2ad916c92b1002c9f16b84791c59704be93411ec2b2f623301da494c8cb5873d1d3f345aa0101954d45560d14b6de89f6600946f72df9e39170f0235e6bd216fa77155749e5f59bc9faf"
          >View this email in your browser</a
        >
      </p>
      <p>
        <span
          >This email may be considered an advertising or
          promotional message</span
        >. If you no longer wish to receive these emails,
        unsubscribe using the link below
      </p>

      <p style="margin-bottom: 5px;">
        <span>Please do not reply to this email</span>. Replies to
        this address cannot be serviced. To ensure delivery, add
        <a href="forever21@i.forever21.com">
          Forever21@i.forever21.com</a
        > <br>
        to your address book.
      </p>

      <p style="padding: 0 !important;">
        You received this message because you've registered or
        accepted our invitation to receive emails from Forever 21,
        or you've made <br> a purchase from Forever21.com.
      </p>
      <p>
        <a
        href="https://click.i.forever21.com/u/?qs=2a509f83cb739d85f4a65c6dcdbf0a0fe5903b2ffa3b4b82d5c92582d763cd97ba92ff3fb0dd5f8f8d5b4eed7d003dd47fa50a023c247bf35efcd75604088419"
        >Unsubscribe</a
      >
      </p>
      

      <p>
        F21 OpCo, LLC - 3880 N Mission Road, Los Angeles, CA 90031
      </p>
    </columns>
  </row>
</container>
