<container>
  <row class="forever-footer">
    <columns small="12" large="12">
      <row class="link-boxs">
        <columns small="6" large="6">
          <a href="{{forever21Email.appLinks.linkToApp1}}"><img src="{{forever21Email.appLinks.image1}}"
              class="app-link" /></a>
        </columns>
        <columns small="6" large="6">
          <a href="{{forever21Email.rewardCard.linkToCard}}"><img src="{{forever21Email.rewardCard.image}}"
              class="reward-link" /></a>
        </columns>
      </row>
      <row class="social-links float-center">
        <columns small="12" large="12" style="padding: 0 !important">
          <row class="social-group">
            <columns>
              <a href="{{forever21Email.socialLinks.linkToSocial1}}"><img src="{{forever21Email.socialLinks.image1}}"
                  class="instagram float-center" /></a>
            </columns>
            <columns>
              <a href="{{forever21Email.socialLinks.linkToSocial2}}"><img src="{{forever21Email.socialLinks.image2}}"
                  class="youtube float-center" /></a>
            </columns>
            <columns>
              <a href="{{forever21Email.socialLinks.linkToSocial3}}"><img src="{{forever21Email.socialLinks.image3}}"
                  class="facebook float-center" /></a>
            </columns>
            <columns>
              <a href="{{forever21Email.socialLinks.linkToSocial4}}"><img src="{{forever21Email.socialLinks.image4}}"
                  class="twitter float-center" /></a>
            </columns>
            <columns>
              <a href="{{forever21Email.socialLinks.linkToSocial5}}"><img src="{{forever21Email.socialLinks.image5}}"
                  class="snapchat float-center" /></a>
            </columns>
            <columns>
              <a href="{{forever21Email.socialLinks.linkToSocial6}}"><img src="{{forever21Email.socialLinks.image6}}"
                  class="f21-app float-center" /></a>
            </columns>
          </row>
        </columns>
      </row>
      <row class="footer-bottom">
        <columns small="12" large="12">
          <row>
            <columns class="f21-black-bar-one" small="12" large="12">
              <a href="{{forever21Email.blackBar.link}}"><img src="{{forever21Email.blackBar.image}}"
                  class="f21-black-bar" /></a>
            </columns>
          </row>
          <row>
            <columns class="f21-black-text-link" small="12" large="12">
              <a href="{{forever21Email.logo2.linkToLogo}}"><img src="{{forever21Email.logo2.image}}"
                  class="f21-black-text-img float-center" /></a>
            </columns>
          </row>
          <row>
            <columns class="f21-black-bar-two" small="12" large="12">
              <a href="{{forever21Email.blackBar.link}}"><img src="{{forever21Email.blackBar.image}}"
                  class="f21-black-bar" /></a>
            </columns>
          </row>
          <row class="footer-text-box">
            <columns small="12" large="12">
              <row class="store-location">
                <columns>
                  <a href="{{forever21Email.location.link}}"><img src="{{forever21Email.location.image}}"
                      class="store-location-img" /></a>
                </columns>
              </row>
              <row class="help-hotline">
                <columns small="12" large="12">
                  <p class="help-hotline-text">NEED HELP? 1.888.494.3837</p>
                </columns>
              </row>
              <row class="text-top">
                <columns small="12" large="12">
                  <p>
                    <span>UP TO 50% OFF ALMOST EVERYTHING:</span>
                    Valid 2/3/22 -
                    2/9/22. Offer available online/in-app only. Receive Up to
                    50% Off Almost Everything in one single <br />
                    transaction before taxes. Cannot be combined with any other
                    promotional offer (excluding shipping promotions). Excludes
                    Black History Month Collection, <br />
                    Forever 21 x Hello Kitty and Friends, Forever 21 x Everlast,
                    and The Final Few Sale. Not applicable to the purchase of
                    gift cards or e-gift cards, or to taxes, <br />
                    shipping or handling charges. Applies to new purchases only.
                    Forever 21 reserves the right to modify or cancel this
                    promotion at any time without notice.
                  </p>
              
                  <p>
                    <span>COLD WEATHER FLASH SALE:</span>
                    Valid 2/3/22 - 2/9/22.
                    Offer available online/in-app on the Cold Weather Flash Sale
                    Up to 70% Off Sweaters, Jackets, and <br />
                    Outerwear pages only. Cannot be combined with any other
                    offer (excluding shipping promotions). Excludes Black
                    History Month Collection, Forever 21 x <br />
                    Everlast, Forever 21 x Hello Kitty and Friends, Sale, and
                    The Final Few Sale. Discount not applicable to taxes,
                    shipping or handling charges. Applies to new <br />
                    purchases only. Forever 21 reserves the right to modify or
                    cancel this promotion at any time without notice.
                  </p>
              
                  <p>
                    <span>BOGO $1 SALE:</span>
                    Valid 2/3/22 - 2/9/22.
                    Online/in-app on the Sale page only. Buy 1sale item and
                    receive the second sale item for $1 in one single <br />
                    transaction before taxes. To redeem, usecode BOGOSALE at
                    checkout. Valid on items marked "BOGO $1 Sale! Use Code:
                    BOGOSALE". While supplies <br />
                    last. Discount applies to items of equal or lesser value.
                    Cannot be combined with any other offer (excluding shipping
                    promotions). Excludes the final few <br />
                    sale and regular price items. Discount not applicable to
                    taxes, shipping or handling charges. Items are final sale
                    and are not eligible for refund or exchange. <br />
                    Not redeemable for cash or cash equivalent. Applies to new
                    purchases only. Forever 21 reserves the right to modify or
                    cancel this promotion at any time <br />
                    without notice.
                  </p>
              
                  <p>
                    <span>QUILTED JACKET UP TO 70% OFF:</span>
                    Valid 2/4/22 -
                    2/6/22. Online/in-app on Quilted Jackets Up to 70% Off page
                    only. Cannot be combined with any other offer (excluding
                    shipping promotions). Excludes Black History Month
                    Collection, Forever 21 x Everlast, Forever 21 x Hello Kitty
                    and Friends, <br />
                    Doorbuster Deals, Sale, and The Final Few Sale. Discount not
                    applicable to taxes, shipping or handling charges. Applies
                    to new purchases only. Forever 21 <br />
                    reserves the right to modify or cancel this promotion at any
                    time without notice.
                  </p>
              
                  <p>
                    Forever 21 Credit Card Accounts are issued by Comenity
                    Capital Bank. Forever 21 Visa® Credit Card Accounts are
                    issued by Comenity Capital Bank <br />
                    pursuant to a license from Visa U.S.A. Inc. Visa is a
                    registered trademark of Visa International Service
                    Association and used under license.
                  </p>
                  <hr>
                </columns>
              </row>
            </columns>
          </row>
        </columns>
      </row>
    </columns>
  </row>
  <row class="text-bottom">
    <columns small="12" large="12">
      <p style="margin-bottom: 5px;">
        <a
          href="https://view.i.forever21.com/?qs=3d0573de4f9d2ad916c92b1002c9f16b84791c59704be93411ec2b2f623301da494c8cb5873d1d3f345aa0101954d45560d14b6de89f6600946f72df9e39170f0235e6bd216fa77155749e5f59bc9faf"
          >View this email in your browser</a
        >
      </p>
      <p>
        <span
          >This email may be considered an advertising or
          promotional message</span
        >. If you no longer wish to receive these emails,
        unsubscribe using the link below
      </p>

      <p style="margin-bottom: 5px;">
        <span>Please do not reply to this email</span>. Replies to
        this address cannot be serviced. To ensure delivery, add
        <a href="forever21@i.forever21.com">
          Forever21@i.forever21.com</a
        > <br>
        to your address book.
      </p>

      <p style="padding: 0 !important;">
        You received this message because you've registered or
        accepted our invitation to receive emails from Forever 21,
        or you've made <br> a purchase from Forever21.com.
      </p>
      <p>
        <a
        href="https://click.i.forever21.com/u/?qs=2a509f83cb739d85f4a65c6dcdbf0a0fe5903b2ffa3b4b82d5c92582d763cd97ba92ff3fb0dd5f8f8d5b4eed7d003dd47fa50a023c247bf35efcd75604088419"
        >Unsubscribe</a
      >
      </p>
      

      <p>
        F21 OpCo, LLC - 3880 N Mission Road, Los Angeles, CA 90031
      </p>
    </columns>
  </row>
</container>